.baseInputStyle {
    display: block;
    background-color: #d7e6f5;
    background-clip: padding-box;
    border-radius: 3px;
    border: 1px solid #bdcede;
    height: calc(1.5rem + 2px);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
}
.placeholderColor::placeholder {
    color: red
}