.todolistsList {
    display: flex;
    flex-direction: column;
}

.todolists {
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
    padding-left: 10px;
}
/*====================================================================================================================*/
.todolistContainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    background-color: rgba(175, 203, 220, 0.66);
    border-radius: 10px;
    color: #2c2c2c;
    font-weight: 500;
    font-size: 17px;
    width: 230px;
}

.todolistContainer:hover {
    box-shadow: 0 0 15px #232323;
}
/*====================================================================================================================*/
.addItemForm_addTL {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.addItemForm_addTL button {
    margin-left: 5px;
}
/*====================================================================================================================*/
.addItemForm_addTask {
    display: flex;
    flex-direction: column;
    margin: 5px 0 5px 0;
}

.addItemForm_addTask button {
    margin-left: 8px;
}
.addItemForm_Input_and_Button {
    display: flex;
    align-items: center;
}
.errorMessageAddItemForm {
    display: flex;
    color: #fe5212;

}
/*====================================================================================================================*/
.todolistTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todolistTitle button {
    margin-left: 4px;
}


/*====================================================================================================================*/
.taskItem {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 17px;
    margin: 2px;
}
.taskItemCompleted {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 17px;
    opacity: 65%;
    margin: 2px;
}
.taskItemLi {
    list-style-type: none;
}
/*====================================================================================================================*/
.tasksContainer {
    background-color: rgba(130, 148, 168, 0.8);
    color: #2c2c2c;
    font-weight: 400;
    border: 1px solid #b4bccd;
    border-radius: 3px;
    padding: 2px;
    box-shadow: 0 3px 15px #232323;
}

.button_of_filter_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}
.button_of_filter_container button {
    padding: 0 10px 0 10px;
}
/*====================================================================================================================*/
.addItemButton {
    display: none;
}
.classNameSpanAddItem {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url("https://img.icons8.com/carbon-copy/35/null/plus-2-math.png");
}
.classNameSpanAddItem:hover {
    background-image: url("https://img.icons8.com/plasticine/35/null/plus-2-math.png");
}
/*====================================================================================================================*/
.removeItemButton {
    display: none;
}
.classNameSpanRemoveItem {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url("https://img.icons8.com/carbon-copy/35/null/delete-forever--v1.png");
}
.classNameSpanRemoveItem:hover {
    background-image: url("https://img.icons8.com/plasticine/35/null/delete-forever.png");
}
/*====================================================================================================================*/
.checkboxTaskStatus {
    display: none;
}
.checkboxUnchecked {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url("https://img.icons8.com/carbon-copy/35/null/unchecked-checkbox.png");
}
.checkboxUnchecked:hover {
    background-image: url("https://img.icons8.com/plasticine/35/null/unchecked-checkbox.png");
}
.checkboxChecked {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url("https://img.icons8.com/carbon-copy/35/null/checked-checkbox--v1.png");
}
.checkboxChecked:hover {
    background-image: url("https://img.icons8.com/plasticine/35/null/checked-checkbox.png");
}