.todolistsList {
    display: flex;
    flex-direction: column;
}

.todolistContainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    background-color: rgba(175, 203, 220, 30%);
    border-radius: 10px;
    color: #ffffff;
    width: 230px;
}

.todolistContainer:hover {
    box-shadow: 0 0 15px #232323;
}
/*====================================================================================================================*/
.addItemForm_addTL {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.addItemForm_addTL button {
    margin-left: 5px;
}
/*====================================================================================================================*/
.addItemForm_addTask {
    display: flex;
    align-items: center;
    margin: 2px 0 5px 0;
}

.addItemForm_addTask button {
    margin-left: 5px;
}
/*====================================================================================================================*/
.todolistTitle button {
    margin-left: 4px;
}

.todolists {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.taskItem {
    display: flex;
    flex-direction: row;
}
.taskItem li {
    list-style-type: none;
}
.taskItem button {
    margin: 2px 4px 2px 2px;
}

.tasksContainer {
    background-color: rgba(175, 203, 220, 30%);
    border: 1px solid #b4bccd;
    border-radius: 3px;
    padding: 2px;
    box-shadow: 0 3px 15px #232323;
}
.button_of_filter_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}
.button_of_filter_container button {
    padding: 0 10px 0 10px;
}


