.snackbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /*pointer-events: none;*/
    z-index: 1000;
}
.closedSnackbar {
    display: none;
}
.snackbar__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 90%;
    left: 10%;
    width: 400px;
    padding: 5px;
    text-align: center;
    color: white;
    font-weight: 500;
    background-color: rgba(237, 91, 91);
    border-radius: 10px;
    box-shadow: 0 0 15px white;
}
.closeErrorButton {
    display: none;
/*    width: 25px;
    height: 25px;
    background-color: #ed5b5b;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px*/;
}
.classNameSpanCloseError {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url("https://img.icons8.com/carbon-copy/35/null/close-window.png");
}
.classNameSpanCloseError:hover {
    background-image: url("https://img.icons8.com/plasticine/35/null/close-window.png");
}
/*"https://img.icons8.com/carbon-copy/35/null/close-window.png"*/

@keyframes slide {
    0% {width: 0;}
    100% {width: 350px;}
}
.slideSnackbar {
    animation-name: slide;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}