.snackbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /*pointer-events: none;*/
    z-index: 998;
}
.closedSnackbar {
    display: none;
}
.snackbar__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 90%;
    left: 10%;
    width: 500px;
    padding: 5px;
    text-align: center;
    color: #172d48;
    font-weight: 500;
    background-color: #8BC2E4FF;
    border: 3px solid #ed5b5b;
    border-radius: 10px;
    box-shadow: 0 0 20px #ed5b5b;
}
.closeErrorButton {
    display: none;
/*    width: 25px;
    height: 25px;
    background-color: #ed5b5b;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px*/;
}
.classNameSpanCloseError {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url("https://img.icons8.com/carbon-copy/35/null/close-window.png");
}
.classNameSpanCloseError:hover {
    background-image: url("https://img.icons8.com/plasticine/35/null/close-window.png");
}
/*"https://img.icons8.com/carbon-copy/35/null/close-window.png"*/

@keyframes opacity {
    0% {opacity: 0;}
    25% {opacity: 25;}
    50% {opacity: 50;}
    75% {opacity: 75;}
    100% {opacity: 100;}
}
.slideSnackbar {
    animation-name: opacity;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
