.snackbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /*pointer-events: none;*/
    z-index: 1000;
}
.closedSnackbar {
    display: none;
}
.snackbar__row {
    display: flex;
    position: relative;
    top: 90%;
    left: 10%;
    width: 350px;
    padding: 15px 0 15px 0;
    text-align: center;
    color: white;
    font-weight: 500;
    background-color: #ed5b5b;
    border-radius: 10px;
}
.closeErrorButton {
    position: relative;
    top: 86%;
    left: 35%;
    width: 25px;
    height: 25px;
    background-color: #ed5b5b;
    border: 1px solid white;
    border-radius: 50%;

}

@keyframes slide {
    0% {width: 0;}
    100% {width: 350px;}
}
.slideSnackbar {
    animation-name: slide;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}