
.loginContainer {
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -142px;
}

.instructionLogin {
    color: #84bdf0;
}
.instructionLogin a {
    color: #f4a678;
    text-decoration: none;
}

.formAuthorization {
    display: flex;
    flex-direction: column;
}
.loginButton {
    width: 60px;
}

@keyframes rainbow {
    0% {background: #83a9cb;}
    50% {background: #ed5b5b;}
    100% {background: #83a9cb;}
}
.blinkButtonClass {
    animation-name: rainbow;
    animation-duration: 0.2s;
    animation-iteration-count: 3;
}