
.loginContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -245px;
}

.instructionLogin {
    color: #84bdf0;
}
.instructionLogin a {
    color: #f4a678;
    text-decoration: none;
}

.formAuthorization {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
}

.rememberMeClass {
    display: flex;
    align-self: start;
    align-items: center;
}
.inputRememberMe {
    display: none;
}
.labelRememberMeChecked {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url("https://img.icons8.com/carbon-copy/35/null/checked-checkbox--v1.png");
}
.labelRememberMeChecked:hover {
    background-image: url("https://img.icons8.com/plasticine/35/null/checked-checkbox.png");
}
.labelRememberMeUnchecked {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url("https://img.icons8.com/carbon-copy/35/null/unchecked-checkbox.png");
}
.labelRememberMeUnchecked:hover {
    background-image: url("https://img.icons8.com/plasticine/35/null/unchecked-checkbox.png");
}

.loginButton {
    background-color: #8bb4d9;
    color: #172d48;
    font-size: 16px;
    border: 1px solid #172d48;
    border-radius: 4px;
    height: 1.5rem;
}

@keyframes rainbow {
    0% {background: #83a9cb;}
    50% {background: #ed5b5b;}
    100% {background: #83a9cb;}
}
.blinkButtonClass {
    animation-name: rainbow;
    animation-duration: 0.2s;
    animation-iteration-count: 3;
}

.spanErrorCollapse {
    visibility: collapse;
    color: #e35858;
    font-size: 12px;
}
.spanErrorVisible {
    visibility: visible;
    color: #e35858;
    font-size: 12px;
}
@media (max-width: 500px) {
    .loginContainer {
        margin-left: -170px;
    }
}