.modal {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    z-index: 998;
}
.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    background-color: rgba(152, 176, 191, 0.9);
    border-radius: 10px;
    height: 155px;
    width: 340px;
    box-shadow: 0 0 15px #232323;
}
.modal__content textarea {
    font-size: 16px;
    background-color: #d7e6f5;
    border-radius: 3px;
    border: 1px solid #bdcede;
    height: calc(5rem + 14px);
    color: #172d48;
    padding: 4px;
    resize: none;
}

.interactionTools {
    display: flex;
    justify-content: space-between;
}
.interactionTools span {
    position: relative;
    font-size: 12px;
    top: -90%;
    left: -1%;
    pointer-events: none;
}
.saveModalButton {
    background-color: #8bb4d9;
    color: #172d48;
    font-size: 16px;
    border: 1px solid #172d48;
    border-radius: 4px;
    height: 1.5rem;
}
.saveModalButton:hover {
    background-color: #83a9cb;
}